In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1/ Working with real world data

In [8]:
file_path = "../data/WHS8_110.csv"
measles_1 = pd.read_csv(file_path)
# Column name incorrect
measles_1.head()

,Unnamed: 0,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%),Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).1,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).2,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).3,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).4,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).5,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).6,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).7,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).8,...,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).28,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).29,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).30,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).31,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).32,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).33,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).34,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).35,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).36,Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%).37
0,Country,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
1,Afghanistan,62,62,62,60,57,59,64,62,60,...,22,34,31,14,14,14,9,8,NaN,11
2,Albania,96,96,97,98,99,98,99,99,97,...,96,96,96,96,96,96,96,93,90,90
3,Algeria,88,94,95,95,95,95,95,95,92,...,82,81,73,67,68,NaN,NaN,NaN,NaN,NaN
4,Andorra,99,97,96,96,95,98,99,99,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
measles_1 = pd.read_csv(file_path, header=[0, 1])
# Multilevel column name
measles_1.head()

  Unnamed: 0_level_0  \
             Country
0        Afghanistan
1            Albania
2            Algeria
3            Andorra
4             Angola

  Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%)  \
                                                                                      2017
0                                                 62
1                                                 96
2                                                 88
3                                                 99
4                                                 42

                                                   ...                    \
   2016  2015  2014  2013  2012  2011  2010  2009  ...  1989  1988  1987
0    62    62    60    57    59    64    62    60  ...    22    34    31
1    96    97    98    99    98    99    99    97  ...    96    96    96
2    94    95    95    95    95    95    95    92  ...    82    81    73
3    97    96    96    95    98    99    99    98  ...   NaN   NaN   NaN
4    45    51    56    59    67    60    67    53  ...    48    56    55


   1986  1985  1984  1983  1982  1981  1980
0    14    14    14     9     8   NaN    11
1    96    96    96    96    93    90    90
2    67    68   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    44    44    35    26   NaN   NaN   NaN

[5 rows x 39 columns]

In [25]:
measles_1 = pd.read_csv(file_path, header=[0, 1], index_col=0)
# Indexed at country name
measles_1.head()

            Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%)  \
Country                                                                                         2017
Afghanistan                                                 62
Albania                                                     96
Algeria                                                     88
Andorra                                                     99
Angola                                                      42

                                                                   ...        \
Country      2016  2015  2014  2013  2012  2011  2010  2009  2008  ...  1989
Afghanistan    62    62    60    57    59    64    62    60    59  ...    22
Albania        96    97    98    99    98    99    99    97    98  ...    96
Algeria        94    95    95    95    95    95    95    92    88  ...    82
Andorra        97    96    96    95    98    99    99    98    98  ...   NaN
Angola         45    51    56    59    67    60    67    53    57  ...    48


Country      1988  1987  1986  1985  1984  1983  1982  1981  1980
Afghanistan    34    31    14    14    14     9     8   NaN    11
Albania        96    96    96    96    96    96    93    90    90
Algeria        81    73    67    68   NaN   NaN   NaN   NaN   NaN
Andorra       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
Angola         56    55    44    44    35    26   NaN   NaN   NaN

[5 rows x 38 columns]

In [26]:
measles_1.columns
# name too long and there are space infront of year
# Index type is immutable so we can't just change the value within the index
# Index have to be unique

MultiIndex(levels=[['Measles-containing-vaccine first-dose (MCV1) immunization coverage among 1-year-olds (%)'], [' 1980', ' 1981', ' 1982', ' 1983', ' 1984', ' 1985', ' 1986', ' 1987', ' 1988', ' 1989', ' 1990', ' 1991', ' 1992', ' 1993', ' 1994', ' 1995', ' 1996', ' 1997', ' 1998', ' 1999', ' 2000', ' 2001', ' 2002', ' 2003', ' 2004', ' 2005', ' 2006', ' 2007', ' 2008', ' 2009', ' 2010', ' 2011', ' 2012', ' 2013', ' 2014', ' 2015', ' 2016', ' 2017']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]],
           names=[None, 'Country'])

In [27]:
measles_1.columns = measles_1.columns.set_levels(["M1"], level=0)
measles_1.columns

MultiIndex(levels=[['M1'], [' 1980', ' 1981', ' 1982', ' 1983', ' 1984', ' 1985', ' 1986', ' 1987', ' 1988', ' 1989', ' 1990', ' 1991', ' 1992', ' 1993', ' 1994', ' 1995', ' 1996', ' 1997', ' 1998', ' 1999', ' 2000', ' 2001', ' 2002', ' 2003', ' 2004', ' 2005', ' 2006', ' 2007', ' 2008', ' 2009', ' 2010', ' 2011', ' 2012', ' 2013', ' 2014', ' 2015', ' 2016', ' 2017']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]],
           names=[None, 'Country'])

In [28]:
measles_1.columns = measles_1.columns.set_levels([int(i.strip()) for i in measles_1["M1"].columns], level=1)
measles_1.columns

MultiIndex(levels=[['M1'], [2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980]],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]],
           names=[None, 'Country'])

In [21]:
measles_1["M1"].head()

Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Afghanistan,62,62,62,60,57,59,64,62,60,59,...,22,34,31,14,14,14,9,8,NaN,11
Albania,96,96,97,98,99,98,99,99,97,98,...,96,96,96,96,96,96,96,93,90,90
Algeria,88,94,95,95,95,95,95,95,92,88,...,82,81,73,67,68,NaN,NaN,NaN,NaN,NaN
Andorra,99,97,96,96,95,98,99,99,98,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,42,45,51,56,59,67,60,67,53,57,...,48,56,55,44,44,35,26,NaN,NaN,NaN

In [29]:
measles_1.index.names = ["Country", "Year"]

ValueError: Length of new names must be 1, got 2

In [23]:
measles_1 = measles_1.stack()
# reduce column index by 1 level
measles_1.head()

             Country
Afghanistan  1980     M1    62
             1981     M1    62
             1982     M1    62
             1983     M1    60
             1984     M1    57
dtype: object

In [24]:
measles_1.index.names = ["Country", "Year"]

ValueError: Length of names must match number of levels in MultiIndex.